@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

:root{
    --bg-color: #523f05;
    --main-color: #b86200;
    ---text-color: white;
    --main-colo2: #fc801a;
    --main-color1: white;

    --h1-font: 5.6rem;
    --h2-font: 3.7rem;
    --p-font: 1rem;
}

body{
    background: var(--bg-color);
    color: var(---text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 38px 19%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    transition: all .7s;
}

.logo{
    display: flex;
    align-items: center;
    color: var(---text-color);
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
}

.navbar{
    display: flex;
}

.navbar a{
    margin: 0 25px;
    padding: 4px;
    color: var(---text-color);
    font-size: var(--p-font);
    font-weight: 400;
    border-bottom: 2px solid transparent;
    transition: all .7s;
    text-decoration: none;
}

.navbar a:hover{
    border-bottom: 2px solid var(--main-colo2);
    color: var(--main-colo2);
}

#menu-icon{
    font-size: 34px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

section{
    padding: 40px 19% 30px;
}

.inicio{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
}

.inicio-img{
    height: 460px;
    width: 460px;
    object-fit: contain;
}

.inicio-img img{
    width: 100%;
    height: auto;
}

.inicio-text{
    padding-top: 60px;
}

.inicio-text h5{
    font-size: 20px;
    font-weight: 500;
}

.inicio-text h1{
    margin: 15px 0;
    font-size: var(--h1-font);
    color: var(--main-color);
    line-height: 1.1;
    font-weight: 800;
}

.social{
    margin-bottom: 30px;
}

.social a:first-child{
    font-size: var(--p-font);
    margin-right: 15px;
    color: var(---text-color);
}

.social i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background: var(--bg-color);
    color: var(--main-color1);
    border-radius: 50%;
    margin-right: 15px;
    transition: all .7s;
}

.social i:hover{
    box-shadow: 0 0 30px var(--main-colo2);
}

.button a{
    display: inline-block;
    padding: 10px 22px;
    background: var(--main-color);
    color: var(--main-color1);
    font-size: 14px;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: all .7s;
}
.button a:hover{
    box-shadow: 0 0 20px var(--main-color);
}

.button a.btn2{
    background: transparent;
    border: 1px solid var(--main-color);
    color: var(--main-color1);
    margin-left: 20px;
}

.button i{
    margin-right: 7px;
}